*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

@import "./partials/header";
@import "./partials/jumbo";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/comics";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
