.header {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-header {
        padding: 20px;
        img {
            width: 60px;
        }
    }
    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                text-transform: uppercase;
                padding: 0 20px 36px 20px;
                color: #1c1c1c;
                cursor: pointer;
                &:hover{
                    color: #0282f9;
                    border-bottom: 5px #0282f9 solid;
                    font-weight: 700;
                }
            }
    }
    }
    
}