main {
    background-color: #1c1c1c;
    color: #fff;
      .section-title {
          position: relative;
          top: -25px;
          left: 200px;
          width: 300px;
          padding: 10px;
          background-color: #0282f9;
          text-transform: uppercase;
          text-align: center;
      }
      .button-cards {
          text-align: center;
          padding: 20px;
          button {
              padding: 10px 50px;
              border: none;
              background-color: #0282f9;
              color: #fff;
              cursor: pointer;
          }
      }
  }