
      .button-cards {
          text-align: center;
          padding: 20px;
          button {
              padding: 10px 50px;
              border: none;
              background-color: #0282f9;
              color: #fff;
              cursor: pointer;
          }
      }